  - name: 'WR Clone'
    git:
      repo: 'https://github.com/webrecorder/webrecorder'
      dest: '{{ wr_dir }}'

  - stat:
      path: '{{ wr_dir }}/wr.env'
    register: wr_env

  - name: 'WR Init'
    shell: ./init-default.sh
    args:
      chdir: '{{ wr_dir }}'
    when: wr_env.stat.exists == False

  - name: 'WR Set Hostnames in Env'
    lineinfile:
      path: '{{ wr_dir }}/wr.env'
      regexp: '{{ item.regexp }}'
      line: '{{ item.replace }}'

    with_items:
      - { regexp: 'APP_HOST=', replace: 'APP_HOST={{ wr_app_host }}' }
      - { regexp: 'CONTENT_HOST=', replace: 'CONTENT_HOST={{ wr_content_host }}' }

  - name: 'WR Install Remote Browsers'
    docker_image:
      name: 'oldwebtoday/{{ item }}'

    with_items: '{{ wr_remote_browsers }}'

  - name: 'WR Run Docker Compose'
    become: true
    become_user: "{{ ansible_user_id }}"
    docker_service:
      project_src: '{{ wr_dir }}'
      build: yes
      state: present   




